/* CSS Document */


#bb {width:781px;height:100px;text-align:left;margin:0 auto;
 border:2px solid  #FF9966;
 background-color: #FFFFff;
 
 }
 
 
#bbc {
	font-family: "ו";
	font-size: x-large;
	color: #FF0066;
}
