.mainPart {

	width:950px;
	height:1200px;
	text-align:left;
	margin:0 auto;
    border:2px solid #fafafa;
    background-color: #ffffff;
	
}
.top_a {
	background-color: #E1E1E1;
	height: 30px;
	width: 100%;
	margin-left: 0px;
	margin-right:0px;
}
.pos_c {
	float: left;
	height: 20px;
	width: 180px;
	font-size:12px;
	margin-left:2px;
}
.t_logo {
	float: left;
	height: 100px;
	width: 150px;
	background-color:#CCCCCC;
}
.t_ad {
	background-color: #999900;
	float: left;
	height: 100px;
	width: 600px;
}
.t_arc {
	background-color: #ffffff;
	height: 100px;
	width: 200px;
}
.menu_main {
	background-color: #969696;
	font-size:12px;
	height: 30px;
	width: 950px;
}
.menuitem_index {
	background-color: #D5D5D5;
	float: left;
	margin-left:6px;
	margin-top:6px;
	padding-top:10px;
	padding-left:20px;
	height: 30px;
	width: 88px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999900;
	border-right-color: #CC6600;
}
.text_top_a {
	background-color: #EBEBEB;
	padding-bottom:6px;
	height: 22px;
	width: 950px;
	font-size:12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #888888;
	border-right-color: #888888;
	border-bottom-color: #888888;
	border-left-color: #888888;
}
.content_f_1 {
	height: 200px;
	width: 950px;
	background-color: #ffffff;
}
#mainPart #content_f_1 #leftA {
	background-color: #99CCCC;
	float: left;
	height: 200px;
	width: 300px;
}
.centerA {
	background-color: #ffffff;
	float: left;
	height: 200px;
	width:495px;
}
.centerA_top {
	background-color: #EBEBEB;
	float: none;
	height: 40px;
	width: 500px;
}
.centerA_bottom {
	background-color: #FFFFFF;
	font-size:12px;
	padding-left:6px;
	padding-top:0px;
	margin-bottom:6px;
	margin-top:6px;
	float: none;
	height: 156px;
	width: 498px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #E8E8E8;
	border-right-color: #E8E8E8;
	border-bottom-color: #E8E8E8;
	border-left-color: #E8E8E8;
}
.rightA {
	float: left;
	height: 198px;
	width:140px;
	font-size:12px;
	margin-left:4px;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D4D4D4;
	border-right-color: #D4D4D4;
	border-bottom-color: #D4D4D4;
	border-left-color: #D4D4D4;
}
.newViewList {
	background-color: #FFFFFF;
	height:300px;
	width: 946px;
	margin-top:1px;
	font-size:12px;
	border: 1px solid #FF9966;
}
.foot_a {
	font-size: 12px;
	font-weight: normal;
	color: #000099;
	background-color: #969696;
	position: relative;
	visibility: visible;
	height: 20px;
	width: 100%;
	
}

.bottomA {
	font-size: 12px;
	float: left;
	height: 148px;
	width: 460px;
	margin-left: 10px;
	margin-top: 16px;
	color: #FFFFFF;
	padding-top: 6px;
}
.bottomB {
	background-color: #929292;
	height: 20px;
	width: 200px;
	margin-top: 6px;
	padding-top: 6px;
}
.bottomC {
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
}



.pic_ad_a {
	background-color: #FFFFFF;
	height: 30px;
	width: 950px;
	font-size:12px;
	
}
#mainPart #t_arc div {
	font-size: 12px;
	background-color: #FFFFFF;
	margin-left:5px;
	margin-top:3px;
}
#mainPart #text_top_a div {
	float: left;
	height: 20px;
	width: 20px;
}
.cleft {
	float: left;
	height: 600px;
	width: 760px;
}
.m_title {
	font-size: 16px;
	font-weight: bold;
	margin-left: 300px;
	margin-top:6px;
	color: #666666;
}
.m_author {
	font-size: 12px;
	font-weight: normal;
	margin-left: 100px;
	margin-top:6px;
	color: #666666;
}
.m_content_a {
	font-size: 12px;
	color: #333333;
	width: 600px;
	margin-left: 60px;
	margin-top:6px;
	line-height: 20px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-style: normal;
	font-weight: normal;	
}
.m_line {
	height: 1px;
	border: 1px solid #A0A0A0;
	width: 600px;
	margin-left: 60px;
}
.tt_a {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-color: #FFCC66;
	width: 100%;
	text-align: center;	 
}
.tt_b {
    margin-top:6px;
	font-size: 12px;
	padding-left:6px;
	color: #333333;
	
	width: 100%;
	
}
.m_content {
	background-color: #E8E8E8;
	height: 80px;
	width: 600px;
	margin-top:6px;
	padding-top:6px;
	padding-left:6px;
	margin-left: 60px;
	font-size: 14px;
}




.rleft {
	float: right;
	background-color: #CCCCCC;
	height:1100px;
	width: 168px;
	background-position: right;
}
.midllelist {
	clear: both;
	height: 300px;
	width: 950px;
	background-color: #FFFFFF;
}
.midleft {
	background-color: #DDDDDD;
	float: left;
	height: 800px;
	width: 200px;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}
.middleright {
	background-color: #FFFFFF;
	clear: none;
	float: left;
	height: 800px;
	width: 720px;
}
.mmouse {
	font-size: 12px;
	cursor:pointer;
}
