 <style>
 .topCommonPart{
	margin:0 auto;
	text-align:left;
	width:1024px; 
	border-top:1px solid #999;
	
  }
  .commonColor{
	background-color:rgb(232,246,208);
	height:50px;
	padding-top:10px;
  }
    body{
	    margin-top:0px;
	  }
   #a003 div div div{
	  padding-left:100px;
	  float:left;
	  color:#000; 
	  font-size:12px;
	  
   }
   #orderdata{
	   background-color:rgb(232,246,208);
	   height:50px;
	   padding-right:40px;
	   padding-top:10px;
   }
   .answerQu{
	   background-color:rgb(232,255,210);
	   
   }
  </style>