.xueA {
	background-image: url(../image/201005/04.gif);
	background-repeat: no-repeat;
	margin-top: 100px;
	height: 23px;
	margin-left: 30px;
	padding-left: 20px;
	font-size: 14px;
	padding-top: 5px;
	font-family: "ו";
	font-weight: bold;
}
.xueA1 {

	background-image: url(../image/201005/05.gif);
	background-repeat: no-repeat;
	margin-top: 5px;
	height: 23px;
	margin-left: 30px;
	margin-bottom:10px;
	padding-left: 32px;
	font-size: 12px;
	padding-top: 2px;
	font-family: "ו";
	
}
